doctype
html(data-app-version=version)
  head
    meta(charset="utf-8")
    meta(name="referrer" content="never")
    title
    link(rel="stylesheet" href=`/write/submit_thread.css?v=${version}`)
    script(src=`/lib/shortQuery.min.js?v=${version}` defer)
    script(src=`/app.js?v=${version}` defer)
    script(src=`/write/submit_thread.js?v=${version}` defer)
  body.view_write
    form
      header
        h1
        button.preview_button(tabindex="1") AA表示確認
      #main
        input(type="submit" value="書き込む" tabindex="6")
        label
          |名前:
          input.name(size="19" tabindex="2")
        label
          |E-mail:
          input.mail(size="19" tabindex="3")
        label
          input.sage(type="checkbox")
          |sage
        br
        label.outtitle
          |タイトル:
          input.title(size="19" tabindex="4")
      textarea.message(wrap="off" tabindex="5" autofocus required)
      .notice
    .iframe_container.hidden
      .hide_iframe
