doctype
html.view.view_bookmark_source_selector(data-app-version=version)
  head
    meta(charset="utf-8")
    meta(name="referrer" content="never")
    title ブックマークフォルダの設定
    link(rel="stylesheet" href=`bookmark_source_selector.css?v=${version}`)
    script(src=`/lib/jshortquery.min.js?v=${version}` defer)
    script(src=`/app.js?v=${version}` defer)
    script(src=`module.js?v=${version}` defer)
    script(src=`bookmark_source_selector.js?v=${version}` defer)
  body
    p read.crxのブックマークの保存先として使用するフォルダを指定して下さい
    .node_list
      ul
    button.submit(disabled) 決定
    p read.crx内で掲示板をブックマークに登録すると、ここで指定したフォルダ内にブックマークが保存されます
    p ブックマーク同期を利用して既読数等を同期するため、ここで指定したフォルダ内のブックマークは編集される事が有ります
