doctype
html.view.view_bookmark(data-app-version=version data-url="bookmark" tabindex="-1")
  head
    meta(charset="utf-8")
    meta(name="referrer" content="no-referrer")
    title ブックマーク
    link(rel="stylesheet" href=`/ui.css?v=${version}`)
    link(rel="stylesheet" href=`bookmark.css?v=${version}`)
    script(src=`/lib/shortQuery.min.js?v=${version}` defer)
    script(src=`/ui.js?v=${version}` defer)
    script(src=`/app.js?v=${version}` defer)
    script(src=`module.js?v=${version}` defer)
    script(src=`bookmark.js?v=${version}` defer)
  body
    nav.nav_bar
      label
        input.searchbox(type="search" placeholder="検索")
        span.hit_count
      .button.button_back.disabled(title="戻る")
      .button.button_forward.disabled(title="進む")
      .button.button_reload(title="再読み込み")
      .button.button_pause(title="自動更新一時停止")
      .button.button_tool(title="メニュー")
        ul.hidden
          li.button_link
            a(target="_blank") ブックマークマネージャを開く
          li.button_toggle_dat dat落ちのスレッドを表示する/しない
          li.button_open_updated 未読があるスレッドを全て開く
      select.sort_item_selector
        option(label="タイトル") 0
        option(label="板名") 1
        option(label="レス数") 2
        option(label="未読数" selected) 3
        option(label="勢い") 4
        option(label="作成日時") 5
    .content(tabindex="0")
    .loading_overlay
      span.success
      span.error
      span.loading
      span.pending
    template#template_thread_list_contextmenu
      menu.thread_list_contextmenu
        li.add_bookmark ブックマークに追加
        li.del_bookmark ブックマークを解除

