!!! 5
%html.view.view_config(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %title 設定
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="config.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jshortquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="config.js?v=#{MANIFEST["version"]}")
  %body
    %header
      %button.button_close 閉じる

    #main
      %section
        %h2 バージョン情報
        %div
          .version
            .version_text
            %button.version_copy(type="button") コピー

      %section
        %h2 関連リンク
        %div
          %ul.links
            %li
              %a(href="http://idawef.com/read.crx-2/" target="_blank") 公式サイト
            %li
              %a(href="http://readcrx-2.github.io/read.crx-2/" target="_blank") 非公式サイト
            %li
              %a(href="http://readcrx-2.github.io/read.crx-2/changelog.html" target="_blank") 更新履歴
            %li
              %a.open_in_rcrx(href="http://jbbs.shitaraba.net/computer/42710/" target="_blank") 公式サポートBBS
            %li
              %a.open_in_rcrx(href="http://jbbs.shitaraba.net/computer/44468/" target="_blank") 非公式サポートBBS
            %li
              %a.keyboard_help(href="/view/empty.html" target="_blank") キーボードショートカットのヘルプ

      %section
        %h2 レイアウト
        %div
          %label
            %input.direct(name="layout" type="radio" value="pane-3" checked)
            3ペイン
          %label
            %input.direct(name="layout" type="radio" value="pane-3h")
            3ペイン（横一列）
          %label
            %input.direct(name="layout" type="radio" value="pane-2")
            2ペイン

      %section
        %h2 背景色
        %div
          %label
            %input.direct(name="theme_id" type="radio" value="default" checked)
            白
          %label
            %input.direct(name="theme_id" type="radio" value="dark")
            黒

      %section
        %h2 タブ
        %div
          %label
            %input.direct(type="checkbox" name="always_new_tab") 常に新しいタブで開く
          %br
          %label
            %input.direct(type="checkbox" name="button_change_netsc_newtab") 2ch netとscの切り替え時に新しいタブで開く
          %br
          %label
            %input.direct(type="checkbox" name="open_all_unread_lazy") 未読スレッドを全て開く際遅延ロードする
          %br
          %label
            %input.direct(type="checkbox" name="mousewheel_change_tab") マウスホイールでタブを切り替える

      %section
        %h2 更新
        %div
          %label
            %input.direct(type="checkbox" name="dblclick_reload") スレで何もないところをダブルクリックして更新できるようにする

      %section
        %h2 自動更新
        %div
          %label
            スレの自動更新間隔ミリ秒数 (最小5000ms、最小値以下をセットすると無効になります、勢いが遅いスレで30000ms未満にするとエラーがでます)
            %input.direct(type="number" name="auto_load_second" min="0")ms
          %br
          %label
            %input.direct(type="checkbox" name="auto_load_all") 開いていないタブも自動更新する(read.crx起動後、一度は開かないと更新されません)
          %br
          自動更新後の移動:
          %label
            %input.direct(name="auto_load_move" type="radio" value="off" checked) しない
          %label
            %input.direct(name="auto_load_move" type="radio" value="new") 未読がない場合新着レス
          %label
            %input.direct(name="auto_load_move" type="radio" value="surely_new") 新着レス
          %label
            %input.direct(name="auto_load_move" type="radio" value="newest") 最終レス

      %section
        %h2
          サムネイル表示(
          %a(href="https://github.com/readcrx-2/read.crx-2/wiki/ImageViewURLReplace.dat%E3%81%AE%E4%BB%95%E6%A7%98" target="_blank") 詳細
          )
        %div
          %label
            %textarea.direct(name="image_replace_dat" rows="6" cols="80")
          %br
            ここに ImageViewURLReplace.dat を記述してください
          %br
          %button.dat_file_show(type="button") ファイル読み込み(UTF-8)
          %input(type="file" class="dat_file_hide hidden" accept=".dat")
          %button.dat_import_button(type="button") インポート
          %span.dat_import_status
          %br
          %label
            %input.direct(type="checkbox" name="image_blur")
            「グロ」「死ね」を含むレスがある場合、画像にぼかしをかける
          %label
            ぼかし具合:
            %input.direct(type="range" name="image_blur_length" min="1" max="9")
            %span.image_blur_length_text
            px

      %section
        %h2 アスキーアート表示
        %div
          %label
            %input.direct(name="aa_font" type="radio" value="aa")
            AA用のフォント設定で表示（AAを含むレスのみに影響します）
          %br
          %label
            %input.direct(name="aa_font" type="radio" value="normal")
            通常の文章と同じフォントで表示

      %section
        %h2 ID/参照ポップアップの表示方法
        %div
          %label
            %input.direct(name="popup_trigger" type="radio" value="click" checked)
            クリック
          %br
          %label
            %input.direct(name="popup_trigger" type="radio" value="mouseenter")
            マウスを重ねる

      %section
        %h2
          NG機能(
          %a(href="https://github.com/readcrx-2/read.crx-2/wiki/NG%E3%83%AF%E3%83%BC%E3%83%89%E3%81%AE%E4%BB%95%E6%A7%98" target="_blank") 詳細
          )

        %div
          %label
            %textarea.direct(name="ngwords" rows="6" cols="80")
          %br
          ここに入力された文字列を含むタイトルのスレ、及びレスが表示されなくなります。
          %br
          1行が1つのキーワードとして認識されます。
          %br
          %label
            %input.direct(type="checkbox" name="chain_ng") NGを連鎖させる
          %br
          %label
            %input.direct(type="checkbox" name="bookmark_show_dat") ブックマークのdat落ちスレを常に表示する
          %br
          %label
            %input.direct(type="checkbox" name="hide_needless_thread") ～の人気スレ・コンビニで浪人を購入する方法等のスレを非表示にする

      %section
        %h2 書き込み
        %div
          %table
            %tbody
              %tr
                %td
                  デフォルトの名前
                %td
                  %input.direct(type="text" name="default_name")
              %tr
                %td
                  デフォルトのメールアドレス
                %td
                  %input.direct(type="text" name="default_mail")

      %section
        %h2 忍法帖
        %div
          .ninja_info

      %section
        %h2 データ
        %div
          インポートは大量にすると時間がかかります
          .history
            閲覧履歴:
            %button.history_clear(type="button") 削除
            %button.history_export(type="button") エクスポート
            %button.history_file_show(type="button") ファイル読み込み
            %input(type="file" class="history_file_hide hidden" accept=".json")
            %button.history_import(type="button") インポート
            %span.history_status
            %br
            %input(type="number" class="history_date_range" min="1" value="7") 日以上の前の履歴を
            %button.history_range_clear(type="button") 削除
            %br
            %input.direct(type="checkbox" name="no_history") 閲覧履歴を保存しない(チェック時のみ有効)
          .writehistory
            書込履歴:
            %button.writehistory_clear(type="button") 削除
            %button.writehistory_export(type="button") エクスポート
            %button.writehistory_file_show(type="button") ファイル読み込み
            %input(type="file" class="writehistory_file_hide hidden" accept=".json")
            %button.writehistory_import(type="button") インポート
            %span.writehistory_status
            %br
            %input(type="number" class="writehistory_date_range" min="1" value="7") 日以上の前の履歴を
            %button.writehistory_range_clear(type="button") 削除
            %br
            %input.direct(type="checkbox" name="no_writehistory") 書込履歴を保存しない(チェック時のみ有効)
            %br
          .cache
            キャッシュ:
            %span.cache_status
            %button.cache_clear(type="button") 削除
          .config_import
            設定
            %button.config_export_button(type="button") エクスポート
            %button.config_file_show(type="button") ファイル読み込み
            %input(type="file" class="config_file_hide hidden" accept=".json")
            %button.config_import_button(type="button") インポート
            %span.config_import_status

      %section
        %h2 2ch.netのスレッド読み込み形式
        %div
          %label
            %input.direct(name="format_2chnet" type="radio" value="html" checked)
            html形式
          %br
          %label
            %input.direct(name="format_2chnet" type="radio" value="dat" checked)
            dat形式(要Proxy)

      %section
        %h2 その他
        %div
          %button.bookmark_source_change ブックマークのフォルダを変更する

          %br

          %button.import_bookmark 初代read.crxからのブックマークのインポート
          %span.import_bookmark_status

          %br

          %button.bbsmenu_reload(type="button") 板一覧の更新
          %span.bbsmenu_reload_status

      %section
        %h2 上級者向け機能
        %div
          %strong
            上級者向け機能です。何が起きるのかを十分に理解して使用して下さい。
          %br
          %label.label_textarea
            ユーザーCSS(
            %a(href="https://github.com/readcrx-2/read.crx-2/wiki/%E3%83%A6%E3%83%BC%E3%82%B6%E3%83%BCCSS" target="_blank") 詳細
            )
            %textarea.direct(name="user_css" rows="6" cols="80")
          %br
          %label
            %input.theme_none(type="checkbox")
            テーマなし
          %br
          %label
            bbsmenu(
            %a(href="http://kita.jikkyo.org/cbm/" target="_blank") 詳細
            )
            %input.direct.bbsmenu(type="text" name="bbsmenu")
            %button.bbsmenu_reset(type="button") リセット
          %br
          %label
            UserAgent
            %input.direct.useragent(type="text" name="useragent")
          %br
          書込履歴テーブル:
          %button.writehistory_delete_table(type="button") 削除
          (1.2.0～1.3.0から1.3.1以降へ移行時に一度だけ実行してください、実行後に再起動してください)

    %template#template_ninja_item
      .ninja_item
        %span.site_name

        %div
          Cookie:
          %span.ninja_item_cookie_found
            あり
            %button Cookieを削除
          %span.ninja_item_cookie_notfound
            無し
            %button バックアップから復元

        %div
          バックアップ:
          %span.ninja_item_backup_available
            あり
            %button バックアップを削除
          %span.ninja_item_backup_unavailable 無し
