!!! 5
%html.view.view_config(data-app-version="#{MANIFEST["version"]}")
  %head
    %meta(charset="utf-8")
    %meta(name="referrer" content="never")
    %meta(http-equiv="X-Frame-Options" content="SAMEORIGIN")
    %title 設定
    %link(rel="stylesheet" href="/ui.css?v=#{MANIFEST["version"]}")
    %link(rel="stylesheet" href="config.css?v=#{MANIFEST["version"]}")
    %script(src="/lib/jquery/jquery.min.js?v=#{MANIFEST["version"]}")
    %script(src="/lib/js-base64/base64.min.js?v=#{MANIFEST["version"]}")
    %script(src="/ui.js?v=#{MANIFEST["version"]}")
    %script(src="/app.js?v=#{MANIFEST["version"]}")
    %script(src="module.js?v=#{MANIFEST["version"]}")
    %script(src="config.js?v=#{MANIFEST["version"]}")
  %body
    %header
      %button.button_close 閉じる

    #main
      %section
        %h2 バージョン情報
        %div
          .version
            .version_text
            %button.version_copy(type="button") コピー

      %section
        %h2 関連リンク
        %div
          %ul.links
            %li
              %a(href="http://idawef.com/read.crx-2/" target="_blank") 公式サイト
            %li
              %a(href="http://readcrx-2.github.io/read.crx-2/" target="_blank") 非公式サイト
            %li
              %a(href="http://readcrx-2.github.io/read.crx-2/beta.html#%E6%9B%B4%E6%96%B0%E5%B1%A5%E6%AD%B4" target="_blank") 更新履歴
            %li
              %a(href="http://jbbs.livedoor.jp/computer/42710/" target="_blank") 公式サポートBBS
            %li
              %a.keyboard_help(href="/view/empty.html" target="_blank") キーボードショートカットのヘルプ

      %section
        %h2 レイアウト
        %div
          %label
            %input.direct(name="layout" type="radio" value="pane-3" checked)
            3ペイン
          %label
            %input.direct(name="layout" type="radio" value="pane-3h")
            3ペイン（横一列）
          %label
            %input.direct(name="layout" type="radio" value="pane-2")
            2ペイン

      %section
        %h2 背景色
        %div
          %label
            %input.direct(name="theme_id" type="radio" value="default" checked)
            白
          %label
            %input.direct(name="theme_id" type="radio" value="dark")
            黒

      %section
        %h2 タブ
        %div
          %label
            %input.direct(type="checkbox" name="always_new_tab") 常に新しいタブで開く
          %br
          %label
            %input.direct(type="checkbox" name="button_change_netsc_newtab") 2ch netとscの切り替え時に新しいタブで開く

      %section
        %h2 更新
        %div
          %label
            %input.direct(type="checkbox" name="dblclick_reload") スレで何もないところをダブルクリックして更新できるようにする
          %br
          %table
            %tbody
              %tr
                %td
                  スレの自動更新間隔ミリ秒数 (最小5000ms、0にセットすると無効になります)
                %td(rowspan="2" valign="bottom")
                  %input.direct(type="text" name="auto_load_second" pattern="[0-9]+")ms
              %tr
                %td
                  (設定後read.crxの再起動が必要です)
              %tr
                %td(colspan="2")
                  %label
                    %input.direct(type="checkbox" name="auto_load_all") 開いていないタブも自動更新する(read.crx起動後、一度は開かないと更新されません)(設定後read.crxの再起動が必要です)

      %section
        %h2 サムネイル表示
        %div
          %label
            %input.direct(type="checkbox" name="thumbnail_supported")
            YouTube/ニコニコ動画のサムネイルを表示する
          %br
          %label
            %input.direct(type="checkbox" name="thumbnail_ext")
            末尾が画像ファイルの拡張子で終わるURLのサムネイルを表示する

      %section
        %h2 アスキーアート表示
        %div
          %label
            %input.direct(name="aa_font" type="radio" value="aa")
            AA用のフォント設定で表示（AAを含むレスのみに影響します）
          %br
          %label
            %input.direct(name="aa_font" type="radio" value="normal")
            通常の文章と同じフォントで表示

      %section
        %h2 ID/参照ポップアップの表示方法
        %div
          %label
            %input.direct(name="popup_trigger" type="radio" value="click" checked)
            クリック
          %br
          %label
            %input.direct(name="popup_trigger" type="radio" value="mouseenter")
            マウスを重ねる

      %section
        %h2
          NG機能(
          %a(href="https://github.com/readcrx-2/read.crx-2/wiki/NG%E3%83%AF%E3%83%BC%E3%83%89%E3%81%AE%E4%BB%95%E6%A7%98" target="_blank") 詳細
          )

        %div
          %label
            %textarea.direct(name="ngwords" rows="6" cols="80")
          %br
          ここに入力された文字列を含むタイトルのスレ、及びレスが表示されなくなります。
          %br
          1行が1つのキーワードとして認識されます。
          %br
          %label
            %input.direct(type="checkbox" name="bookmark_show_dat") ブックマークのdat落ちスレを常に表示する
          %br
          %label
            %input.direct(type="checkbox" name="hide_needless_thread") ～の人気スレ・コンビニで浪人を購入する方法等のスレを非表示にする

      %section
        %h2 書き込み
        %div
          %table
            %tbody
              %tr
                %td
                  デフォルトの名前
                %td
                  %input.direct(type="text" name="default_name")
              %tr
                %td
                  デフォルトのメールアドレス
                %td
                  %input.direct(type="text" name="default_mail")

      %section
        %h2 忍法帖
        %div
          .ninja_info

      %section
        %h2 同期(Sync2ch)
        %div
          %table
            %tbody
              %tr
                %td
                  ID
                %td
                  %input.direct(type="text" name="sync_id")
              %tr
                %td
                  API接続用パスワード
                %td
                  %input.direct(type="password" name="sync_pass")
              %tr
                %td
                  端末名
                %td
                  %input.direct(type="text" name="sync_device")
              %tr
                %td(colspan="2")
                  IDとパスワードを両方空欄にすると同期されません(端末名の有無は無関係です)
                  %br
                  端末名の例: PC-1, 私のパソコン, 個人用PC, 1

      %section
        %h2 データ
        %div
          .history
            閲覧履歴:
            %span.history_status
            %button.history_clear(type="button") 削除
            %button.history_export(type="button") エクスポート
            %button.history_file_show(type="button") ファイル読み込み
            %input(type="file" class="history_file_hide hide" accept=".json")
            %button.history_import(type="button") インポート
            インポートすると履歴に追加されます(大量にインポートすると時間がかかります)
            %br
            %input.direct(type="checkbox" name="no_history") 履歴を保存しない(チェックボックスをつけているときのみ有効です)
          .cache
            キャッシュ:
            %span.cache_status
            %button.cache_clear(type="button") 削除
          .config_import
            設定
            %button.config_export_button(type="button") エクスポート
            %button.config_file_show(type="button") ファイル読み込み
            %input(type="file" class="config_file_hide hide" accept=".json")
            %button.config_import_button(type="button") インポート
            %span.config_import_status

      %section
        %h2 その他
        %div
          %button.bookmark_source_change ブックマークのフォルダを変更する

          %br

          %button.import_bookmark 初代read.crxからのブックマークのインポート
          %span.import_bookmark_status

          %br

          %button.bbsmenu_reload(type="button") 板一覧の更新
          %span.bbsmenu_reload_status

      %section
        %h2 上級者向け機能
        %div
          %p 上級者向け機能です。何が起きるのかを十分に理解して使用して下さい。
          %label.label_textarea
            ユーザーCSS(
            %a(href="http://idawef.com/read.crx-2/user-css.html" target="_blank") 詳細
            )
            %textarea.direct(name="user_css" rows="6" cols="80")
          %br
          %label
            %input.theme_none(type="checkbox")
            テーマなし
          %br
          %label
            bbsmenu(
            %a(href="http://kita.jikkyo.org/cbm/" target="_blank") 詳細
            )
            %input.direct.bbsmenu(type="text" name="bbsmenu")
            %button.bbsmenu_reset(type="button") リセット
          %br
          %button.console_show コンソールを表示

      %section
        %h2 2ch.netのスレッド読み込み形式
        %div
          %label
            %input.direct(name="format_2chnet" type="radio" value="html" checked)
            html形式
          %br
          %label
            %input.direct(name="format_2chnet" type="radio" value="dat" checked)
            dat形式(要Proxy)
    %template#template_ninja_item
      .ninja_item
        %span.site_name

        %div
          Cookie:
          %span.ninja_item_cookie_found
            あり
            %button Cookieを削除
          %span.ninja_item_cookie_notfound
            無し
            %button バックアップから復元

        %div
          バックアップ:
          %span.ninja_item_backup_available
            あり
            %button バックアップを削除
          %span.ninja_item_backup_unavailable 無し
