doctype
html.view.view_writehistory(data-app-version=version tabindex="-1")
  head
    meta(charset="utf-8")
    meta(name="referrer" content="no-referrer")
    title 書込履歴
    link(rel="stylesheet" href=`/ui.css?v=${version}`)
    link(rel="stylesheet" href=`writehistory.css?v=${version}`)
    script(src=`/lib/jshortquery.min.js?v=${version}` defer)
    script(src=`/ui.js?v=${version}` defer)
    script(src=`/app.js?v=${version}` defer)
    script(src=`module.js?v=${version}` defer)
    script(src=`writehistory.js?v=${version}` defer)
  body
    nav.nav_bar
      label
        input.searchbox(type="search" placeholder="検索")
        span.hit_count
      .button.button_back.disabled(title="戻る")
      .button.button_forward.disabled(title="進む")
      .button.button_reload(title="再読み込み")
      .button.button_tool(title="メニュー")
        ul.hidden
          li.button_history_clear 書込履歴を消去
    .content(tabindex="0")
    .loading_overlay Loading...
    template#template_thread_list_contextmenu
      menu.thread_list_contextmenu
        li.del_writehistory この履歴を削除
